// .contenido {
//     // margin-top: 20px;
//     background-color: black;
//     .hero {
//         background-image: url(./../../../../assets/img/backgrounds/foto2.jpg);
//         height: 100vh;
//     }
// }