<div class="contenido">
    <div class="hero">

        <!-- <h2 class="h1-responsive text-center">INICIO</h2> -->
        <!-- <div class="row mt-10">
            <div class="col-sm-12 col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JSpi72zb5AU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni repellat quasi id cupiditate vitae quae necessitatibus enim, recusandae eveniet, distinctio quaerat aut quod facilis debitis hic doloribus corporis. Eius, minus Lorem, ipsum
                    dolor sit amet consectetur adipisicing elit. Est dolores repellendus architecto iure necessitatibus laboriosam blanditiis, odit magnam sit repudiandae quisquam, neque itaque obcaecati porro similique rerum repellat voluptatibus reiciendis
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, recusandae! Numquam quisquam blanditiis, officiis tenetur repudiandae iste distinctio minus quae vitae modi. Eius nobis hic sapiente libero quos atque expedita.</p>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni repellat quasi id cupiditate vitae quae necessitatibus enim, recusandae eveniet, distinctio quaerat aut quod facilis debitis hic doloribus corporis. Eius, minus.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="./../../../../assets/img/cards/card3.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div> -->
    </div>
</div>