<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-7 col-md-7">
      <div class="md-form">
        <input mdbInput [(ngModel)]="boletaelectronica" (keyup)="onKey($event)" type="text" id="boletaelectronica"
          class="form-control">
        <label for="boletaelectronica" class="">Nº de recibo</label>
      </div>
      <div *ngIf="mostrar">
        <div class="md-form">
          <select class="mdb-select" #selecDocument (change)="SelectTipoDocumento(selecDocument.value)">
            <option disabled="disabled" value="">-Tipo de Documento-</option>
            <option *ngFor="let item of tipodocumentos" [value]="item.ruta">
              {{item.tipo}}
            </option>
          </select>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="md-form">
              <input mdbInput #dato [(ngModel)]="buscaCodigo" (keyup.enter)="buscarxCodigo()" type="text"
                id="buscaCodigo" class="form-control">
              <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
            </div>
          </div>
          <div class="col-4">
            <button type="button" mdbBtn color="primary" (click)="buscarxCodigo()" mdbWavesEffect><i
                class="fa fa-search" aria-hidden="true"></i> </button>
          </div>
        </div>


        <div class="elevation-16dp" *ngIf="verDirector">
          <table class="table table-hover table-responsive-md table-fixed">
            <tbody>
              <tr>
                <th colspan="2" class="text-center text-warning" >DATOS DEL ALUMNO</th>
              </tr>
              <tr>
                <th>ALUMNO</th>
                <td>{{estudiante.apellido}} {{estudiante.nombre}}</td>
              </tr>
              <tr>
                <th>DNI</th>
                <td>{{estudiante.dni}}</td>
              </tr>
              <tr>
                <th colspan="2" class="text-center text-warning">DATOS DE LA ESCUELA</th>
              </tr>
              <tr>
                <th>DIRECTOR</th>
                <td>{{direct.codigoempleo}} {{direct.apellido}}, {{direct.nombre}}</td>
              </tr>
            </tbody>
          </table>



        </div>

        <div class="row justity-contenet-center">
          <div class="col-sm-6 col-md-4">
            <button type="button" mdbBtn class="btn btn-block" color="primary" [disabled]="!verDirector" mdbWavesEffect
              (click)="IngresarSolicitud()">SOLICITAR</button>
          </div>
          <div class="col-sm-6 col-md-4">
            <button type="button" mdbBtn class="btn btn-block" color="red" mdbWavesEffect routerLink="/">SALIR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
