<!-- <div class="container"> -->
<div class="card mt-2 elevation-16dp">
    <ul id="todo-list" class="todo-list">
      <li>
        <div class="view">
          <label class="cabeza">
            <span class="asunto">CODIGO</span>
            <span class="asunto">ALUMNO</span>
            <span class="codigo">FECHA</span>
            <span class="asunto">TIPO</span>
          </label>
          <div>
          </div>
        </div>
      </li>
      <li *ngFor="let item of listaConstancias |filter:term | paginate: { itemsPerPage: 30, currentPage: pagina2 }">
        <div class="view">
          <label class="sistema">
            <span class="codigo"> {{ item.idsolicitud.codigo }}</span>
            <span class="asunto"> {{ item.idsolicitud.idestudiante.nombre | uppercase}} {{ item.idsolicitud.idestudiante.apellido | uppercase}}</span>
            <span class="codigo"> {{ item.fechaemision }}</span>
            <span class="asunto"> CONSTANCIA DE {{ item.tipoconstancia}} </span>
            <button class="destruir destroy" (click)="constanciaSelect(item)">
              <i class="fa fa-align-center" aria-hidden="true"></i>
            </button>
          </label>
          <div>
          </div>
        </div>
      </li>
    </ul>
    <pagination-controls (pageChange)="pagina2 = $event"></pagination-controls>

  </div>
<!-- </div> -->