<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a [routerLink]="['']" routerLinkActive="active" class="navbar-brand">FIMGC UNSCH</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">           
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/FIMGC/Constancia/Lista']" mdbWavesEffect>Constancia</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/FIMGC/Solicitud/General']" mdbWavesEffect>Solicitud</a>
            </li> -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/FIMGC/Solicitud/Solicitudes']" mdbWavesEffect>Solicitudes</a>
            </li>
          
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
               Grados<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/FIMGC/Grados/Practicas']" routerLinkActive="active">Practicas</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/FIMGC/Grados/Grados']" routerLinkActive="active">Grados</a>



                </div>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
               Configuraciones<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">          

                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/FIMGC/Persona/Usuario']" routerLinkActive="active">Persona</a>
                    <!-- <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/FIMGC/Reporte/Graficas']" routerLinkActive="active">Estadistica</a> -->
                </div>
            </li>
            <!-- <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect routerLinkActive="active">
              
                </a>

            </li> -->


            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" (click)="tokenSrv.signOut()" mdbWavesEffect> <i class="fa fa-power-off" aria-hidden="true"></i></a>
            </li>
            <!-- Dropdown -->


        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->