<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="text-white text-center cuerpo">


        <div class="row justify-content-center mt-2">


          <div class="col-sm-12 col-md-8">
            <h5 class="card-title h5-responsive font-bold mt-2">SISTEMA DE TRAMITE DOCUMENTARIO</h5>
            <div class=" row justify-content-center">
              <div class="logo">
                <img src="./assets/img/logos/logo_unsch2.png" alt="">
              </div>
            </div>
            <h5 class="card-title h5-responsive font-bold">FACULTAD DE INGENIERIA DE MINAS, GEOLOGÍA Y CIVIL</h5>
            <p class="h5-responsive">V. 1.0.0</p>
          </div>

          <div class="col-sm-12 col-md-4 dordeado text-center mt-5">
            <div class="row justify-content-center">
              <div class="col-10">
                <h5 class="text-center">BUSCAR DOCUMENTO</h5>
                <div class="md-form">
                  <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="buscador"
                    (keyup.enter)="BuscarSolicitud(basicModal11)">
                  <label for="form1" class="">Código de documento</label>
                </div>
                <button class="centrear btn btn-block" type="button" mdbBtn color="primary" mdbWavesEffect
                  (click)="BuscarSolicitud(basicModal11)">Buscar</button>
                <div class="mt-5 presentar">
                  <h5 class="text-center">PRESENTAR DOCUMENTO</h5>

                  <button class="btn-block mt-5" type="button" mdbBtn color="secondary" mdbWavesEffect
                    [routerLink]="['/FIMGC/Solicitud/General']">SOLICITAR</button>
                </div>
              </div>
            </div>
          </div>



        </div>




        <div class="footer">
          <p class="text-center">
            Acceso para cliente <span (click)="frame.show()"
              style="color:rgb(72, 222, 241); cursor: pointer; font-weight: 700;">login</span>
          </p>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">
        <!-- Tab panels -->
        <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 light-blue darken-3'" [contentClass]="''"
          class="tab-content">
          <!--Panel 7-->
          <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading=" Login">
            <!--Body-->
            <div class="modal-body mb-1">
              <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
                <div class="md-form form-sm bajar mt-5">
                  <input mdbInput mdbValidate type="text" id="form22" class="form-control" name="modalFormLoginEmail"
                    formControlName="modalFormLoginEmail">
                  <label for="form22"><i class="fas fa-user"></i>usuario</label>
                  <mdb-error
                    *ngIf="modalFormLoginEmail.invalid && (modalFormLoginEmail.dirty || modalFormLoginEmail.touched)">
                    Entrada no válida
                  </mdb-error>
                  <mdb-success
                    *ngIf="modalFormLoginEmail.valid && (modalFormLoginEmail.dirty || modalFormLoginEmail.touched)">
                    Entrada válida
                  </mdb-success>
                </div>

                <div class="md-form form-sm mt-5">
                  <input mdbInput mdbValidate type="password" id="form23" class="form-control"
                    name="modalFormLoginPassword" formControlName="modalFormLoginPassword">
                  <label for="form23"><i class="fas fa-unlock-alt"></i>Contraseña</label>
                  <mdb-error
                    *ngIf="modalFormLoginPassword.invalid && (modalFormLoginPassword.dirty || modalFormLoginPassword.touched)">
                    Entrada no válida
                  </mdb-error>
                  <mdb-success
                    *ngIf="modalFormLoginPassword.valid && (modalFormLoginPassword.dirty || modalFormLoginPassword.touched)">
                    Entrada válida
                  </mdb-success>
                </div>
                <div class="text-center mt-2">
                  <button mdbBtn color="info" class="waves-light" mdbWavesEffect type="submit"
                    [disabled]="!validatingForm.valid">Acceder</button>
                </div>
              </form>
            </div>

          </mdb-tab>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <!-- <mdb-tab class="tab-pane fade" id="panel8" role="tabpanel" heading="Register">
                       
                        <div class="modal-body">
                            <form [formGroup]="registergForm" (ngSubmit)="onSubmitRegidter()">
                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="text" id="form24" class="form-control" formControlName="modalFormRegisterEmail">
                                    <label for="form24"><i class="fas fa-user"></i>Correo</label>
                                    <mdb-error *ngIf="modalFormRegisterEmail.invalid &&(modalFormRegisterEmail.dirty || modalFormRegisterEmail.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormRegisterEmail.valid && (modalFormRegisterEmail.dirty || modalFormRegisterEmail.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>
                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="password" id="form25" class="form-control" formControlName="modalFormRegisterPassword">
                                    <label for="form25"> <i class="fas fa-unlock-alt"></i>Contraseña</label>
                                    <mdb-error *ngIf="modalFormRegisterPassword.invalid && (modalFormRegisterPassword.dirty || modalFormRegisterPassword.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormRegisterPassword.valid && (modalFormRegisterPassword.dirty || modalFormRegisterPassword.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>

                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="password" id="form26" class="form-control" formControlName="modalFormRegisterRepeatPassword">
                                    <label for="form26"><i class="fas fa-unlock-alt"></i>Repetir contraseña</label>
                                    <mdb-error *ngIf="modalFormRegisterRepeatPassword.invalid && (modalFormRegisterRepeatPassword.dirty || modalFormRegisterRepeatPassword.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormRegisterRepeatPassword.valid && (modalFormRegisterRepeatPassword.dirty || modalFormRegisterRepeatPassword.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button mdbBtn color="info" class="waves-light" type="submit" mdbWavesEffect>Regístrate</button>
                                </div>
                            </form>
                        </div>
            
                    </mdb-tab> -->
          <!--/.Panel 8-->
        </mdb-tabset>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<!-- <a mdbBtn gradient="peach" mdbWavesEffect [routerLink]="['/Sistemas-unsch/Nosotros/Inicio']">Inicio</a> -->

<!-- carrusel de fotgrafias -->

<!-- <h3 class="text-center mt-5">INGENIERIA DE SISTEMAS</h3>
<div class="carrusel">
    <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of contador">
            <div class="col-8 offset-2 mb-3 view overlay zoom">
                <img class="img-fluid waves-effect z-depth-1" alt="Responsive image" src="../../../assets/img/backgrounds/foto{{item}}.jpg" alt="First slide">
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div> -->

<!-- fin de carrusel -->

<div mdbModal #basicModal11="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close pull-right" (click)="basicModal11.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h6 class="modal-title w-100 text-center" id="myModalLabel">DOCUMENTO</h6>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="verRespuesta">
          <table mdbTable responsive="true" bordered="true">
            <tbody class="darken-4">
              <tr>
                <th>CODIGO</th>
                <td>{{respuesta.codigodocumento}}</td>
              </tr>
              <tr>
                <th>SOLICITANTE</th>
                <td>{{respuesta.estudiante.nombre}} {{respuesta.estudiante.apellido}}</td>
              </tr>
              <tr>
                <th>FECHA</th>
                <td>{{respuesta.fechasolicitud}}</td>
              </tr>
              <tr>
                <th>VOUCHER</th>
                <td>{{respuesta.voucher}}</td>
              </tr>
              <tr>
                <th>ASUNTO</th>
                <td>{{respuesta.asunto}}</td>
              </tr>
              <tr>
                <th>TRAMITE</th>
                <td>{{respuesta.estadodos[0].fechatramite}}</td>
              </tr>
              <!-- <tr>
                <th>ESTADO</th>
                <td>{{respuesta.estadodos[0].idestado.denominacion}}</td>
              </tr> -->
              <tr>
                <th>OBSERVACIÓN</th>
                <td>{{respuesta.estadodos[0].observacion}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light btn-block" aria-label="Close"
            (click)="basicModal11.hide()" mdbWavesEffect>SALIR</button>
          <!-- <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="Redireccionar()" mdbWavesEffect>RECONSTRUIR</button> -->
        </div>
      </div>
    </div>
  </div>
