// .a4page {
//     font-family: Arial;
//     // width: 210mm;
//     // height: 245mm;
//     // border: 0.2em solid brown;
//     padding: 170px;
// }

p {
    text-align: justify;
    text-justify: inter-word;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: black;
}

// .fecha {
//     float: right;
// }
.firma {
    margin-top: 60px;
}

.cuerpo {
    p {
        line-height: 200%;
    }
}


.escuela {
    margin-top: 30px;
    float: right;
    border-left: 4px solid black;
    p {
        margin-left: 5px;
        font-size: 12px!important;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 350px;
    overflow-y: auto;
}

@media only screen and (min-width: 1000px) {
    .modal-body {
        // height: 550px;
        overflow-y: auto;
    }
}

.objetfit>img {
    width: 150px;
    height: 150px;
    object-fit: none;
    background-color: black;
}

// img.peque {
//     width: 600px;
//     height: 100px;
// }
strong {
    font-weight: 700;
}