<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE CONSTANCIA DE MATRICULA</h3>

    <div class="a4page mt-5 elevation-16dp" id="imprimirpfg">
        <div class="logotipos">
            <img class="peque" [src]="imagenEscuela">
        </div>
        <div class="titulo">
            <h3>CONSTANCIA DE MATRICULA</h3>
        </div>
        <div class="cuerpo">
            <p>La Dirección de la Escuela Profesional de {{estudiante.idescuela.nombre | titlecase}} de la Facultad de {{estudiante.idescuela.idfacultad.nombre | titlecase}}, de la Universidad Nacional de San Cristobal de Huamanga (UNSCH), 
                deja constancia que <span *ngIf="estudiante.sexo === 'v'">el señor</span><span *ngIf="estudiante.sexo === 'm'">la señorita</span>, <strong> {{estudiante.nombre}} {{estudiante.apellido}}</strong>,
                con código universitario Nº <strong>{{estudiante.codigo}}</strong> y DNI Nº <strong>{{estudiante.dni}}</strong>, alumno de Escuela Profesional de {{estudiante.idescuela.nombre | titlecase}}, inicio sus estudios en el semestre académico {{estudiante.semestreinicio}}
                de fecha {{estudiante.fechainicio |  date:'dd'}} de {{estudiante.fechainicio  | date:'MM'| meses}} de {{estudiante.fechainicio | date:'yyyy'}}.
            </p>
            <p class="mt-5">
                Se expide la presente constancia a solicitud del interesado para afines estrictamente academicos
            </p>
            <p class="fecha mt-5">
                <p class="solicito">Ayacucho, {{hoy | date:'dd'}} de {{hoy | date:'MM'| meses}} de {{hoy | date:'yyyy'}}.
            </p>
            <p class="firma">
                ................................... <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DECANO
                
            </p>
        </div>
        <div class="concopia">
            <p>Recibo Nº{{captura.voucher}} <br>Archivo <br> EFFP/srtg</p>

        </div>
        <div class="escuela">
            <p>ESCUELA PROFESIONAL DE <br>{{estudiante.idescuela.nombre}} <br>Av. Independencia S/N <br> Ciudad Universitaria <br>Tel. 066 - 327273 </p>
        </div>
    </div>
    <div class="row">
        <div class="fuera col-sm-12 col-md-4 mb-5 mt-2">
            <button type="button" (click)="saveOrUpdateConstancia()" class="btn btn-info btn-block" mdbBtn color="primary" mdbWavesEffect><i class="fas fa-save"></i>  GUARDAR</button>
        </div>
        <div class="fuera col-sm-12 col-md-4 mb-5 mt-2">
            <button type="button" routerLink="/FIMGC/Solicitud/Solicitudes" class="btn btn-warnig btn-block" mdbBtn color="red" mdbWavesEffect>SALIR</button>
        </div>
        <div class="fuera col-sm-12 col-md-4 mb-5 mt-2">
            <button type="button" (click)="createPDF()" class="btn btn-success btn-block" mdbBtn color="success" mdbWavesEffect><i class="fas fa-file-download"></i>PDF</button>
        </div>
    </div>
    <button (click)="basicModal1.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>
</div>

<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal1.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">CONSTANCIA DE INGRESO</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.dni" type="text" id="dniegreso" class="form-control">       
                    <label for="dniegreso">DNI</label>
                </div>
                <div >
                    <label for="fechafin">Fecha Iniciado</label>
                    <input mdbInput [(ngModel)]="estudiante.fechainicio" type="date" id="fechafin" class="form-control">          
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.semestreinicio" type="text" id="semestreEgresofin" class="form-control">       
                    <label for="semestreEgresofin">Semestre Iniciado</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateAlumno(basicModal1)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>