// .a4page {
//     font-family: Tahoma;
//     // width: 180mm;
//     // width: 210mm;
//     // height: 245mm;
//     // height: 205mm;
//     // border: 0.2em solid brown;
//     padding: 70px;
// }

p {
    text-align: justify;
    text-justify: inter-word;
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Tahoma;
    font-weight: 700;
    color: black;
}

.firma {
    margin-top: 60px;
}



.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 400px;
    overflow-y: auto;
}


@media only screen and (min-width: 1000px) {
    .modal-body {
        height: 450px;
        overflow-y: auto;
    }
}

.objetfit>img {
    width: 150px;
    height: 150px;
    object-fit: none;
    background-color: black;
}

// img.peque {
//     margin-left: 20px;
//     width: 400px;
//     height: 60px;
// }

.cuerpo {
    // border: 0.2em solid blue;
    margin: 30px;
    p {
        line-height: 200%;
    }
}
strong {
    font-weight: 700;
}