<div class="search-box">
  <div class="search-center">
    <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
    <div class="search"></div>
  </div>
</div>


<div class="container-fluid">
  <main>
    <div style="height:100px;">
      <div class="row pt-5">
        <div class="col text-center">
          <h2>GRADOS DE BACHILLER</h2>
        </div>
      </div>
    </div>
  </main>
  <div class="card">
    <div class="card-body">
      <table class="table table-hover table-responsive-md table-fixed">
        <thead bordered="true" class="text-center">
          <tr class="table-dark">
            <th rowspan="2">ALUMNO</th>
            <th rowspan="2">DNI</th>
            <th rowspan="2">CÓDIGO</th>
            <th>EGRESO</th>
            <th colspan="2">BACHILLER</th>
            <th colspan="2">TÍTULO</th>
          </tr>
          <tr class="table-dark">
            <th>FECHA</th>
            <th>RESOLUCIÓN</th>
            <th>FECHA</th>
            <th>RESOLUCIÓN</th>
            <th>FECHA</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol (dblclick)="EditarBachiller(basicModal10,item)" *ngFor="let item of listaBachiller |filter:term | paginate: { itemsPerPage: 40, currentPage: p }">          
            <td>{{item.idestudiante.nombre}} {{item.idestudiante.apellido}}</td>
            <td>{{item.idestudiante.dni}}</td>
            <td>{{item.idestudiante.codigo}}</td>
            <td>{{item.fechaegreso}}</td>
            <td>{{item.resolbachiller}}</td>
            <td>{{item.fechabachiller}}</td>
            <td>{{item.resoltitulo}}</td>
            <td>{{item.fechatitulo}}</td>            
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

  <button (click)="CrearNuevoBachiller(basicModal10)" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>
</div>


<div mdbModal #basicModal10="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="basicModal10.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">GRADOS DEL ALUMNO</h4>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="ocultarBuscar">
          <div class="col-8">
            <div class="md-form">
              <input mdbInput #dato [(ngModel)]="buscaCodigo" (keyup.enter)="buscarxCodigo()" type="text"
                id="buscaCodigo" class="form-control">
              <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
            </div>
          </div>
          <div class="col-4">
            <button type="button" mdbBtn color="primary" (click)="buscarxCodigo()" mdbWavesEffect><i
                class="fa fa-search" aria-hidden="true"></i> </button>
          </div>
        </div>

        <div *ngIf="sima.nombre || estudiante.nombre" class="alert alert-primary" role="alert">
          <p>{{estudiante.nombre}} {{estudiante.apellido}}</p>
        </div>
        <!-- <div *ngIf="newBachillerato.idpersona" class="alert alert-primary" role="alert">
          <p>{{newBachillerato.idpersona.nombre}} {{newBachillerato.idpersona.apellido}}</p>
        </div> -->

        <div class="borde">
          <p class="text-center text-primary font-weight-bold">EGRESO DEL ALUMNO</p>
          <div>
            <label for="date-picker-example">Fecha egreso</label>
            <input type="date" [(ngModel)]="newBachillerato.fechaegreso" class="form-control datepicker">
          </div>
          
          <div class="md-form">
            <input mdbInput [(ngModel)]="newBachillerato.resolbachiller" type="text" id="resolutionBachiller"
            class="form-control">
            <label for="resolutionBachiller" class="">Resolución de bachiller<span>*</span> </label>
          </div>
        </div>

        <div class="borde">
        <p class="text-center text-primary font-weight-bold">BACHILLER DEL ALUMNO</p>
        <div>
          <label for="date-picker-example">Fecha</label>
          <input type="date" [(ngModel)]="newBachillerato.fechabachiller" class="form-control datepicker">
        </div>
        <div class="md-form">
          <input mdbInput [(ngModel)]="newBachillerato.resoltitulo" type="text" id="resolutionTitulo"
            class="form-control">
          <label for="resolutionTitulo" class="">Resolución de titulo</label>
        </div>
      </div>

      <div class="borde">
      <p class="text-center text-primary font-weight-bold">TITULO DEL ALUMNO</p>

        <div>
          <label for="date-picker-example">Fecha Titulo</label>
          <input type="date" [(ngModel)]="newBachillerato.fechatitulo" class="form-control datepicker">
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal10.hide()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="savaGBachillerato()" mdbWavesEffect>GUARDAR</button>
      </div>
    </div>
  </div>
</div>
