<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>

<div class="container-fluid">
    <!-- Main -->
    <main>
        <div style="height:100px;">
            <div class="row pt-5">
                <div class="col text-center">
                    <h2>PRACTICAS PRE PROFESIONALES</h2>
                </div>
            </div>
        </div>
    </main>
    <!-- /.Main -->

    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed" border="true">
                <thead>
                    <tr class="table-dark">
                        <th rowspan="2">ALUMNO</th>
                        <th rowspan="2">TITULO</th>
                        <th rowspan="2">FECHA</th>
                        <th colspan="3">NOTAS</th>
                        <th class="short" rowspan="2">PROM</th>
                        <th rowspan="2">JURADOS</th>                       
                    </tr>
                    <tr class="table-dark">
                        <th class="short">INF</th>
                        <th class="short">EXPO</th>
                        <th class="short">PREG</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="EditarPractica(item, basicModal10)" *ngFor="let item of listaPracticas |filter:term | paginate: { itemsPerPage: 40, currentPage: p }">
                        <td>{{item.idestudiante.nombre}} {{item.idestudiante.apellido}}</td>
                        <td class="titulo">{{item.titulo}}</td>
                        <td class="fecha">{{item.fechapracticas}}</td>
                        <td class="azul text-center short" [ngClass]="{'rojo': item.notainforme < 13 }">{{item.notainforme | number:'2.0-1'}}</td>
                        <td class="azul text-center short" [ngClass]="{'rojo': item.notaexposicion < 13 }">{{item.notaexposicion | number:'2.0-1'}}</td>
                        <td class="azul text-center short" [ngClass]="{'rojo': item.notapreguntas < 13 }">{{item.notapreguntas | number:'2.0-1'}}</td>
                        <td class="azul text-center short" [ngClass]="{'rojo': (item.notainforme + item.notaexposicion + item.notapreguntas)/3 < 13 }">{{(item.notainforme + item.notaexposicion + item.notapreguntas)/3 | number:'2.0-1'}}</td>
                        <td>{{item.juradouno}} <br> {{item.juradodos}} <br> {{item.juradotres}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <button (click)="nuevoPractica(basicModal10)" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
            style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
    </button>
</div>


<div mdbModal #basicModal10="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="basicModal10.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">GRADO BACHILLER</h4>
        </div>
        <div class="modal-body">
          <div class="row" *ngIf="ocultarBuscar">
            <div class="col-8">
              <div class="md-form">
                <input mdbInput #dato [(ngModel)]="buscaCodigo" (keyup.enter)="buscarxCodigo()" type="text"
                  id="buscaCodigo" class="form-control">
                <label for="buscaCodigo" class="">Codigo Universitario<span>*</span></label>
              </div>
            </div>
            <div class="col-4">
              <button type="button" mdbBtn color="primary" (click)="buscarxCodigo()" mdbWavesEffect><i
                  class="fa fa-search" aria-hidden="true"></i> </button>
            </div>
          </div>
  
          <div *ngIf="sima.nombre || estudiante.nombre" class="alert alert-primary" role="alert">
            <p>{{estudiante.nombre}} {{estudiante.apellido}}</p>
          </div>
          <!-- <div *ngIf="newPractica.idestudiante" class="alert alert-primary" role="alert">
            <p>{{newPractica.idestudiante.nombre}} {{newPractica.idestudiante.apellido}}</p>
          </div> -->

          
                            
            <div class="md-form">
                <textarea type="text" [(ngModel)]="newPractica.titulo" id="tituloPracticas" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="tituloPracticas">Titulo de Practicas</label>
            </div>
            <!-- <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.anio" type="text" id="escuela" class="form-control">
                <label for="escuela" class="">Año<span>*</span></label>
            </div> -->
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.semestre" type="text" id="nombre" class="form-control">
                <label for="nombre" class="">Semestre<span>*</span> </label>
            </div>
            <div>
                <label for="date-picker-example">Fecha</label>
                <input type="date" [(ngModel)]="newPractica.fechapracticas" class="form-control datepicker">
            </div>
        
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.notainforme" type="number" id="notaInforme" class="form-control">
                <label for="notaInforme" class="">Nota Informe<span>*</span> </label>
            </div>
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.notaexposicion" type="number" id="notaExposicion" class="form-control">
                <label for="notaExposicion" class="">Nota Exposición<span>*</span> </label>
            </div>
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.notapreguntas" type="number" id="notapreguntas" class="form-control">
                <label for="notapreguntas" class="">Nota Preguntas<span>*</span> </label>
            </div>
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.juradouno" type="text" id="juradoUno" class="form-control">
                <label for="juradoUno" class="">Jurado Uno<span>*</span> </label>
            </div>
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.juradodos" type="text" id="juradoDos" class="form-control">
                <label for="juradoDos" class="">Jurado Dos<span>*</span> </label>
            </div>
            <div class="md-form">
                <input mdbInput [(ngModel)]="newPractica.juradotres" type="text" id="juradoTres" class="form-control">
                <label for="juradoTres" class="">Jurado Tres<span>*</span> </label>
            </div>      
  
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal10.hide()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="savaGBachillerato(basicModal10)" mdbWavesEffect>GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  