table{
    font-size: 1.1vw;
}

thead {
    font-weight: 700;
    text-align: center;
}

.titulo {
    max-width: 450px;
    min-width: 100px;
}

.azul {
    color: blue;
    font-weight: 700;
}

.rojo {
    color: red;
    font-weight: 700;
}

.short {
    max-width: 45px;
}

th.short {
    font-size: 12px;
}

.fecha {
    max-width: 80px;
    min-width: 70px;
}