<div class="container">
    <h5 class="text-center mt-5">GENERADOR DE SOLICITUD DE CONSTANCIA DE ESTUDIOS</h5>

    <div id="imprimirGradoBachiller">
        <div class="a4page mt-5  elevation-16dp">          
            <p class="solicito"><strong>solicito:</strong> Constancia de estudios</p> <br><br> <br>
            <h4>Sr. <br> Mg. Manuel Avelino Lagos Barzola <br> DIRECTOR DE LA ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS</h4>
            <div class="cabecera">
                <div class="espacio">
                </div>
                <div>
                    <p>
                        Yo, {{estudiante.apellido}}, {{estudiante.nombre}}  Identificado con DNI Nº {{estudiante.dni}}, con Código Universitario Nº {{estudiante.codigo}}, Domiciliado en {{estudiante.direccion}} estudiante de la Escuela Profesional IngenierÍa de Sistemas ante Ud. Con el debido respeto
                        me presento y expongo:
                    </p>
                </div>
            </div>
            <p class="centro">Que, siendo estudiante regular de la escuela y teniendo la necesidad de contar con la constancia de estudios por motivos de trabajo, solicito ante su digno despacho tenga a bien ordenar a quien corresponda emitir dicha constancia.
            </p>
            <p class="center">POR LO EXPUESTO</p>
            <p>
                A Ud. Señor Director acceder a mi solicitud por ser justo y legal.
            </p>
            <p class="solicito">Ayacucho, {{hoy | date:'dd'}} de {{hoy | date:'MM'| meses}} de {{hoy | date:'yyyy'}}.</p>


            <p class="center abajo">........................................</p>
            <p class="center">{{estudiante.nombre}} {{estudiante.apellido}}</p>
            <p class="center">DNI Nº{{estudiante.dni}}</p>

        </div>
    </div>

    <button (click)="basicModal11.show();desbloquear=true" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>


    <div class="row">
        <div class="fuera col-4 mb-5 mt-5" *ngIf="!mostrarpdf">
            <button type="button" (click)="CrearSolicitud()" class="btn btn-info btn-block" mdbBtn color="primary" mdbWavesEffect [disabled]="!desbloquear"><i class="fas fa-save"></i> SOLICITAR</button>
        </div>
        <div *ngIf="mostrarpdf" class="col-4 mb-5 mt-5">
                <button type="button" (click)="createPDF()" class="btn btn-success btn-block" mdbBtn color="success" mdbWavesEffect><i class="fa fa-file-download" aria-hidden="true"></i> PDF</button>
            </div>
            <div class="col-4 mb-5 mt-5">
                <button type="button" routerLink="/" class="btn btn-warnig btn-block" mdbBtn color="red" mdbWavesEffect>SALIR</button>
         </div>
    </div>

</div>

<div mdbModal #basicModal11="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal11.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h6 class="modal-title w-10 text-center" id="myModalLabel">DATOS DE LA SOLICITUD</h6>
            </div>
            <div class="modal-body">                                 
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.dni" type="number" id="dnipractica" class="form-control">
                    <label for="dnipractica" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.direccion" type="text" id="direccionesbachiller" class="form-control">
                    <label for="direccionesbachiller" class="">Domicilio</label>
                </div>
                <div class="md-form">
                    <select class="mdb-select" #selectSexoEgreso (change)="setNewGraficas(selectSexoEgreso.value)">
                      <option disabled="disabled" value="">-Sexo-</option>
                      <option *ngFor="let item of mostrarSexos" [value]="item.valor">
                        {{item.descripcion}}
                      </option>
                    </select>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal11.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateAlumno(basicModal11)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
