// .a4page {
//     // width: 210mm;
//     // height: 295mm;
//     // border: 0.2em solid brown;
//     padding: 70px;
//     font-family: 'Times New Roman', Times, serif;
// }

p {
    text-align: justify;
    text-justify: inter-word;
}

strong {
    font-weight: 700;
}

p.solicito {
    margin: 20px 20px 20px 0px;
    text-align: right;
    float: right;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    color: black;
}

.cabecera {
    display: grid;
    grid-template-columns: 50% 50%;
}

.center {
    text-align: center;
}

.abajo {
    padding: 0;
    margin: 80px 0 0 0;
}