<div class="container">
    <h5 class="text-center mt-5">GENERADOR DE SOLICITUD GRADO ACADEMICO DE BACHILLER</h5>
    <div id="imprimirGradoBachiller">
        <div class="a4page mt-5  elevation-16dp">
            <h4 class="center">"AÑO DE LA UNIVERSALIZACIÓN DE LA SALUD"</h4>
            <p class="solicito"><strong>solicito:</strong> Grado Académico de Bachiller</p> <br><br> <br>
            <h4>SEÑOR RECTOR DE LA UNIVERSIDAD NACIONAL DE SAN CRISTOBAL DE HUAMANGA</h4>
            <div class="cabecera">
                <div class="espacio">
                </div>
                <div>
                    <p>
                        Yo, {{estudiante.apellido}}, {{estudiante.nombre}} Identificado con DNI Nº {{estudiante.dni}}, Egresado de la Escuela Profesional {{estudiante.idescuela.idescuela |escuela  | titlecase}} de la {{estudiante.idescuela.idescuela|facultad  | titlecase}}, con Código Universitario Nº {{estudiante.codigo}}, Domiciliado en {{estudiante.direccion}},
                        Ante Usted me presento y expongo:
                    </p>
                </div>
            </div>
            <p class="centro">Que, al haber concluido mis estudios superiores, me dirijo a Usted para que designe a quien corresponda se me otorgue el GRADO ACADEMICO DE BACHILLER EN {{estudiante.idescuela.idescuela | escuela}}, Para lo cual anexo todos los requirimientos.
            </p>
            <ul>
                <li *ngFor="let item of requisitos">{{item.tipo}}</li>
            </ul>
            <p>
                Sin otro particular hago propicia la ocación, para hacerle llegar mis saludos y las muestras de mi especial consideración y estima personal.
            </p>
            <p class="center">Atentamente</p>
            <p class="solicito">Ayacucho, {{hoy | date:'dd'}} de {{hoy | date:'MM'| meses}} de {{hoy | date:'yyyy'}}.
            <p class="center abajo">........................................</p>
            <p class="center">{{estudiante.nombre}} {{estudiante.apellido}}</p>
            <p class="center">DNI Nº{{estudiante.dni}}</p>
        </div>
    </div>
    <button (click)="basicModal1.show(); bloquedoSoli=false" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
        style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
      </button>
    <div class="row">
        <div *ngIf="!mostrarpdf" class="fuera col-sm-12 col-md-4 mb-5 mt-5">
            <button type="button" [disabled]="bloquedoSoli" (click)="CrearSolicitud()" class="btn btn-info btn-block" mdbBtn color="primary" mdbWavesEffect><i class="fas fa-save"></i> SOLICITAR</button>
        </div>
        <div class="fuera col-sm-12 col-md-4 mb-5 mt-5" *ngIf="mostrarpdf">
            <button type="button" (click)="createPDF()" class="btn btn-success btn-block" mdbBtn color="success" mdbWavesEffect><i class="fa fa-file-download" aria-hidden="true"></i> PDF</button>
        </div>
        <div class="col-sm-12 col-md-4 mb-5 mt-5">
            <button type="button" routerLink="/" class="btn btn-warnig btn-block" mdbBtn color="red" mdbWavesEffect>SALIR</button>
     </div>
    </div>
</div>
<div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal1.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h6 class="modal-title w-100 text-center" id="myModalLabel">DATOS DE LA SOLICITUD</h6>
            </div>
            <div class="modal-body">               
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.dni" type="number" id="dnipractica" class="form-control">
                    <label for="dnipractica" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.direccion" type="text" id="domiciliopractica" class="form-control">
                    <label for="domiciliopractica" class="">Domicilio</label>
                </div>
                <div class="md-form">
                    <select class="mdb-select" #selectSexoEgreso (change)="setNewGraficas(selectSexoEgreso.value)">
                      <option disabled="disabled" value="">-Sexo-</option>
                      <option *ngFor="let item of mostrarSexos" [value]="item.valor">
                        {{item.descripcion}}
                      </option>
                    </select>
                  </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateAlumno(basicModal1)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
