h4{
    font-weight: 700;
    text-align: center!important;
}
.asunto {
    width: 200px;
    font-weight: 700;
}
.view {
    display: grid!important;
    grid-template-columns: 70% 30%;
}
.cabeza, .sistema {
    display: grid!important;
    grid-template-columns: 80% 20%;
}
.cabeza{
    text-align: center;

}
mdb-select{
    margin-top: 10px;
}