<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-1 col-sm-12">
      <div class="md-form">
        <select class="mdb-select" #selectgrafica (change)="setNewGraficas(selectgrafica.value)">
          <option disabled="disabled" value="">-Gráfica-</option>
          <option *ngFor="let grafica of tiposgraficas" [value]="grafica.tipo">
            {{grafica.descripcion}}
          </option>
        </select>
      </div>
      <app-chart (cambioValor)="graficas($event)"></app-chart>

    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card text-white">
        <p class="text-center">Total {{total}}</p>
        <div class="card-body">
          <div style="display: block">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
              [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
