<div class="container">
    <h5 class="text-center mt-5">GENERADOR DE SOLICITUD CURSO ÚNICO</h5>
    <div id="imprimirGradoBachiller">
        <div class="a4page mt-5">
            <p class="solicito"><strong>solicito:</strong> Examen de curso único</p> <br><br> <br>
            <h4>Sr. <br> {{director.codigoempleo}}  {{director.apellido}} {{director.nombre}} <br> DIRECTOR DE LA ESCUELA PROFESIONAL DE {{director.idescuela.nombre}}</h4>
            <div class="cabecera">
                <div class="espacio">
                </div>
                <div>
                    <p>
                        Yo, <strong>{{estudiante.nombre}} {{estudiante.apellido}}  </strong>Identificado con DNI Nº {{estudiante.dni}}, con Código Universitario Nº {{estudiante.codigo}}, Domiciliado en {{estudiante.direccion}} estudiante de la {{estudiante.idescuela.idescuela  | escuela  | titlecase}} de la facultad de {{estudiante.idescuela.idescuela | facultad  | titlecase}},
                        ante Ud. Con el debido respeto me presento y expongo:
                    </p>
                </div>
            </div>
            <p class="centro">Que, habiendo aprobado la mayoria de mis cursos de pregrado en la Escuela de  {{estudiante.idescuela.idescuela | escuela  | titlecase}}, y solo quedando un curso por aprobar, me dirijo a si digna autoridad para
                <strong> SOLICITAR, el Examen de Curso Único;</strong> la misma es la siguiente
            </p>
            <table mdbTable hover="true">
                <thead>
                    <tr class="table-dark">
                        <th>Sicla</th>
                        <th>Asignatura</th>
                        <th>Credito</th>
                        <th class="icono" *ngIf="boton">
                            <div (click)=basicModal55.show()> <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cursos">
                        <td>{{item.sigla}}</td>
                        <td>{{item.asignatura}}</td>
                        <td>{{item.credito}}</td>
                    </tr>
                </tbody>
            </table>
            <p>Al respecto adjunto los documentos pertinentes:</p>
            <p>
                a) Certificado de Estudios <br> b) Boleta de pago por derecho de trámite <br> c) Sílabo
            </p>
            <p class="center">POR LO EXPUESTO</p>
            <p>
                A Ud. Señor Director acceder a mi solicitud por ser justo y legal.
            </p>
            <p class="solicito">Ayacucho, {{hoy | date:'dd'}} de {{hoy | date:'MM'| meses}} de {{hoy | date:'yyyy'}}.</p>
            <p class="center abajo">........................................</p>
            <p class="center">{{estudiante.nombre}} {{estudiante.apellido}}</p>
            <p class="center">DNI Nº{{estudiante.dni}}</p>
        </div>
    </div>
    <button (click)="basicModal5.show(); desbloquear=true" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>
  <div class="row">
    <div *ngIf="!mostrarpdf" class="fuera col-sm-12 col-md-4 mb-5 mt-5">
        <button type="button" [disabled]="!desbloquear && !desbloquearcurso" (click)="CrearSolicitud()" class="btn btn-info btn-block" mdbBtn color="primary" mdbWavesEffect><i class="fas fa-save"></i> SOLICITAR</button>
    </div>
    <div *ngIf="mostrarpdf" class="col-sm-12 col-md-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-success btn-block" mdbBtn color="success" mdbWavesEffect><i class="fa fa-file-download" aria-hidden="true"></i> PDF</button>
        </div>
        <div class="col-sm-12 col-md-4 mb-5 mt-5">
            <button type="button"  routerLink="/" class="btn btn-warnig btn-block" mdbBtn color="red" mdbWavesEffect>SALIR</button>
     </div>
</div>
</div>
<div mdbModal #basicModal5="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal5.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h5 class="modal-title w-100 text-center" id="myModalLabel">DATOS DE LA SOLICITUD</h5>
            </div>
            <div class="modal-body">                
                <!-- <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.nombre" type="text" id="unicoalumnos" class="form-control">
                    <label for="unicoalumnos" class="">Alumno<span>*</span> </label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.codigo" type="number" id="inicocodigo" class="form-control">
                    <label for="inicocodigo" class="">Codigo <span>*</span></label>
                </div> -->
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.dni" type="number" id="inicodni" class="form-control">
                    <label for="inicodni" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.direccion" type="text" id="unicodomicilio" class="form-control">
                    <label for="unicodomicilio" class="">Domicilio</label>
                </div>              
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal5.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateAlumno(basicModal5)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal55="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal55.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title w-50 text-center" id="myModalLabel">CURSOS</h5>
            </div>
            <form [formGroup]="validatingForm">

            
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput  formControlName="sigla" name="sigla" required type="text" id="unicosicla" class="form-control">
                    <label for="unicosicla" class="">Sigla</label>
                </div>
                <div class="md-form">
                    <input mdbInput  formControlName="asignatura" name="asignatura" type="text" required id="unicoasignatura" class="form-control">
                    <label for="unicoasignatura" class="">Asignatura</label>
                </div>
                <div class="md-form">
                    <input mdbInput  formControlName="credito" name="credito" type="text" id="uniccocredito" required class="form-control">
                    <label for="uniccocredito" class="">Credito</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal55.hide()" mdbWavesEffect>Cancelar</button>
                <button type="submit" mdbBtn color="primary" [disabled]="validatingForm.invalid" class="relative waves-light" (click)="AgregarCursos(basicModal55, validatingForm.value)" mdbWavesEffect>Guardar</button>
            </div>
        </form>
        </div>
    </div>
</div>
