<div class="container">
    <h5 class="text-center mt-5">GENERADOR DE SOLICITUD PRÁCTICAS PROFESIONALES</h5>
    <div id="imprimirGradoBachiller">
        <div class="a4page mt-5  elevation-16dp">
            <p class="solicito"><strong>solicito:</strong> Carta de presentación para <br> realizar prácticas pre profesionales</p> <br><br> <br>
            <h4>Sr. <br> {{director.apellido}} {{director.nombre}} <br> DIRECTOR DE LA ESCUELA PROFESIONAL DE {{director.idescuela.nombre}}</h4>
            <div class="cabecera">
                <div class="espacio">
                </div>
                <div>
                    <p>
                        Yo, {{newPractica.nombre}} Identificado con DNI Nº {{newPractica.dni}}, con Código Universitario Nº {{newPractica.codigo}}, Domiciliado en {{newPractica.domicilio}} estudiante de la Escuela Profesional {{newPractica.escuela | escuela | titlecase}} de la facultad {{newPractica.escuela | facultad | titlecase}}
                        ante Ud. Con el debido respeto me presento y expongo:
                    </p>
                </div>
            </div>
            <p class="centro">Que, en cumpliendo con el Plan Curricular de Estudios de la Escuela Profesional de {{newPractica.escuela | escuela | titlecase}}, y con los reglamentos internos de la Facultad, es requisito indispensable realizar Prácticas Pre Profesionales. Al cumplir con todos
                los requisitos exigidos; recurro a su despacho con la finalidad de solicitarle se me expida una CARTA DE PRESENTACION dirigida a la:
            </p>
            <P>
                <strong>ORGANIZACION:</strong> {{newCarta.organizacion}} <br>
                <strong>NOMBRE DEL REPRESENTANTE:</strong> {{newCarta.nombrerepres}} <br>
                <strong>CARGO:</strong> {{newCarta.cargo}} <br>
                <strong>AREA:</strong> {{newCarta.area}} <br>
                <strong>FECHA DE INICIO DE PRÁCTICAS:</strong> {{newCarta.fechainicio | date :'dd/MM/yyyy'}} <br>
                <strong>FECHA DE FIN DE PRÁCTICAS:</strong> {{newCarta.fechafin | date :'dd/MM/yyyy'}} <br>
            </P>
            <p class="center">POR LO EXPUESTO</p>
            <p>
                A Ud. Señor Director acceder a mi solicitud por ser justo y legal.</p>
                <!-- <p class="solicito">Ayacucho, {{newEgresado.fecha | date:'dd'}} de {{newEgresado.fecha | date:'MM'| meses}} de {{newEgresado.fecha | date:'yyyy'}}.</p> -->

            <p class="solicito">Ayacucho, {{newPractica.fecha | date:'dd'}} de {{newPractica.fecha | date:'MM'| meses}} de {{newPractica.fecha | date:'yyyy'}}.</p>
            <p class="center abajo">........................................</p>
            <p class="center">{{newPractica.nombre}}</p>
            <p class="center">DNI Nº{{newPractica.dni}}</p>
        </div>
    </div>
    <button (click)="basicModal5.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
      style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
    </button>

    <div class="row">
        <div *ngIf="!mostrarpdf" class="fuera col-sm-12 col-md-4 mb-5 mt-5">
            <button type="button" (click)="CrearSolicitud()" class="btn btn-info btn-block" [disabled]="!desbloquear" mdbBtn color="primary" mdbWavesEffect><i class="fas fa-save"></i> SOLICITAR</button>
        </div>
        <div *ngIf="mostrarpdf" class="col-sm-12 col-md-4 mb-5 mt-5">
                <button type="button" (click)="createPDF()" class="btn btn-success btn-block" mdbBtn color="success" mdbWavesEffect><i class="fa fa-file-download" aria-hidden="true"></i> PDF</button>
            </div>
            <div class="col-sm-12 col-md-4 mb-5 mt-5">
                <button type="button"  routerLink="/" class="btn btn-warnig btn-block" mdbBtn color="red" mdbWavesEffect>SALIR</button>
         </div>
    </div>

   

</div>

<div mdbModal #basicModal5="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal5.hide()">
                <span aria-hidden="true">×</span>
              </button>
                <h6 class="modal-title w-100 text-center" id="myModalLabel">DATOS DE LA SOLICITUD DE PRÁCTICAS</h6>
            </div>
            <div class="modal-body">                                         
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.dni" type="number" id="dnipractica" class="form-control">
                    <label for="dnipractica" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="estudiante.direccion" type="text" id="domiciliopractica" class="form-control">
                    <label for="domiciliopractica" class="">Dirección</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newCarta.organizacion" type="text" id="organizationpractica" class="form-control">
                    <label for="organizationpractica" class="">Organización donde realizará la práctica</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newCarta.nombrerepres" type="text" id="presentantepractica" class="form-control">
                    <label for="presentantepractica" class="">Representante de la organización</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newCarta.cargo" type="text" id="cargopractica" class="form-control">
                    <label for="cargopractica" class="">Cargo del representante</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="newCarta.area" type="text" id="areapractica" class="form-control">
                    <label for="areapractica" class="">Area de desenvolvimiento</label>
                </div>
                <div>
                    <label for="date-picker-example">Fecha de inicio de prácticas</label>
                    <input type="date" [(ngModel)]="newCarta.fechainicio" class="form-control datepicker">
                </div>
                <div>
                    <label for="date-picker-example">Fecha de fin de prácticas</label>
                    <input type="date" [(ngModel)]="newCarta.fechafin" class="form-control datepicker">
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal5.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateAlumno(basicModal5)" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>
