.fecha{
    margin: 10px 0 10px 0;
    right: 10px;
    position: absolute;
}
.solicito {
    margin-top: 20px;
    text-decoration: underline;
}
strong {
    font-weight: 700;
}
.mayor {
    margin-top: 40px;
}
.cuerpo1 {
    text-align: justify;
}
.rep{
    display: grid;
    grid-template-columns: 40% 10% 50%;
}