<div class="container">
  <h5 class="text-center mt-5">GENERADOR DE CARTA</h5>

  <div id="imprimirCarta">
    <div class="a4page mt-5  elevation-16dp">
      <div>
        <img class="peque" [src]="imagenEscuela" alt="Responsive image">
      </div>
      <p class="fecha">Ayacucho, {{hoy | date:'dd'}} de {{hoy | date:'MM'| meses}} de {{hoy | date:'yyyy'}}.</p>
      <p class="solicito text-bold">CARTA N° {{newCarta.numcarta || 0}}-2020 - EPIS - FIMGC/UNSCH</p>
      <h6 >Señor: <br>   <strong>{{newCarta.nombrerepres}}</strong></h6>
      <p> {{newCarta.cargo | uppercase}}<br>
        {{newCarta.organizacion | uppercase}}
      </p>
      <p ><strong>Ciudad.-</strong> {{newCarta.ciudad | uppercase}}</p>
      <p class="fecha"><strong>ASUNTO: </strong>Presenta Estudiante para Práctica Pre profesionales</p>
      <div class="cabecera">
          <p class="mayor">De mi mayor consideración</p>
          <p class="cuerpo1">
            Tengo el honor de dirigirme a usted, para saludarlo muy cordialmente a nombre de la {{estudiante.idescuela.nombre | titlecase}} 
            {{estudiante.idescuela.idfacultad.nombre | titlecase}}, de la Universidad Nacional de San Cristóbal de Huamanga - Ayacucho
          </p>
          <p class="cuerpo1">
            El motivo de la presente es para acreditar al Señor: {{estudiante.apellido}}, {{estudiante.nombre}} Identificado con DNI Nº {{estudiante.dni}}, con Código
            Universitario Nº {{estudiante.codigo}} quien a la fecha ya tiene {{estudiante.creditos}} creditos aprobados, que es requisito indispensable para realizar 
            la práctica Pre-profesional de la Escuela Profesional de {{estudiante.idescuela.nombre  | titlecase}} y quien desea realizar sus Prácticas Pre-profesionales,
            en la institución que Ud. Dignamente dirige, a fin de complementar la formación  recibida en nuestra institución; por el espacio de 04 meses y mínimo por 04 horas/dia,
            a partir de la fecha. Igualmente a continuación detallo los siguientes datos para su consideración:

          </p>
        
      </div>
      <p class="centro">Que, siendo requisito indispensable para optar el grado de bachiller en {{estudiante.idescuela.nombre | titlecase}},
        solicito a usted tenga a bien ordenar a quien corresponda se me expida dicho documento.
      </p>
      <strong>a) De la persona que firma la carta de presención</strong>
      <div class="rep">
        <p>1. Nombre Completo <br>2. Nº de DNI</p>
        <p>: <br>:</p>
        <p>{{director.codigoempleo}}  {{director.apellido}} {{director.nombre}} <br>{{director.dni}}</p>
      </div>
      <strong>b) De la Universidad</strong>
      <div class="rep">
        <p>1. N° de RUC <br>Dirección</p>
        <p>: <br>:</p>
        <p>20143660754 <br>Portal Independencia N° 57 - Ayacucho</p>
      </div>
      <p>
       Aprovecho la oportunidad para reiterarle las muestras de mi especialidad consideración y estima personal
      </p>
      <p class="center">Atentamente</p>


     
      <div class="concopia">
        <p>C.c. <br>Archivo <br> EFFP/srtg</p>

      </div>
      <div class="escuela">
        <p>ESCUELA PROFESIONAL DE <br>{{estudiante.idescuela.nombre  | titlecase}} <br>Av. Independencia S/N <br> Ciudad
          Universitaria <br>Tel. 066 - 327273 </p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="fuera col-sm-12 col-md-4 mb-5 mt-5">
      <button type="button" routerLink="/FIMGC/Solicitud/Solicitudes" class="btn btn-warnig btn-block" mdbBtn color="red" mdbWavesEffect>SALIR</button>
  </div>
    <div class="fuera col-4 mb-5 mt-5">
        <button type="button" (click)="createPDF()" class="btn btn-success btn-block" mdbBtn color="success" mdbWavesEffect [disabled]="!bloquear">PDF</button>
    </div>
</div>
<button (click)="basicModal111.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
</button>
</div>

<div mdbModal #basicModal111="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close pull-right" (click)="basicModal111.hide()">
            <span aria-hidden="true">×</span>
          </button>
              <h6 class="modal-title w-10 text-center" id="myModalLabel">DATOS DE LA CARTA</h6>
          </div>
          <div class="modal-body">                
              <div class="md-form">
                  <input mdbInput type="text"  [(ngModel)]="newCarta.numcarta" name="numcarta" id="numcarta" class="form-control">
                  <label for="numcarta" class="">CARTA N°<span>*</span></label>
              </div>
              
          </div>
          <div class="modal-footer">
              <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal111.hide()" mdbWavesEffect>Cancelar</button>
              <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateCartas(basicModal111)" mdbWavesEffect>Guardar</button>
          </div>
      </div>
  </div>
</div>